<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ suppName }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{ suppDesc }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{ suppCat }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{ suppUrl }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="" routerLink="/supplements">Supplements</a>
    </div>
  </div>
</div>
