<header>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a routerLink="/" class="logo navbar-brand">Scott's Supplements</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a href="#" routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" routerLink="/supplements" class="nav-link"
              >Supplements</a
            >
          </li>
          <li class="nav-item">
            <a href="#" routerLink="/science" class="nav-link">Science</a>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <a href="#" routerLink="/myplan" class="nav-link">My Plan</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a href="#" routerLink="/setup" class="nav-link">Create a Plan</a>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <a href="#" routerLink="{{ profileUrl }}" class="nav-link"
              >Profile</a
            >
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a href="#" routerLink="/login" class="nav-link">Log In</a>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <a href="#" class="nav-link" (click)="logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
