<h1>Questionnaire</h1>

<form [formGroup]="questionnaireForm" (ngSubmit)="submitQuestionnaire()">
  <div id="question1">
    <label for="depression">Rate your depression on a scale of 1 - 10</label>
    <select name="depression" formControlName="depression">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question2">
    <label for="anxiety">Rate your anxiety on a scale of 1 - 10</label>
    <select name="anxiety" formControlName="anxiety">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question3">
    <label for="sleep">Rate your sleep on a scale of 1 - 10</label>
    <select name="sleep" formControlName="sleep">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question4">
    <label for="productivity"
      >Rate your productivity on a scale of 1 - 10</label
    >
    <select name="productivity" formControlName="productivity">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question5">
    <label for="heartHealth"
      >Rate your hearth health on a scale of 1 - 10</label
    >
    <select name="heartHealth" formControlName="heartHealth">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question6">
    <label for="immuneSystem"
      >Rate your immune system on a scale of 1 - 10</label
    >
    <select name="immuneSystem" formControlName="immuneSystem">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question6">
    <label for="exercise"
      >Rate how important exercise is to you on a scale of 1 - 10</label
    >
    <select name="exercise" formControlName="exercise">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="question7">
    <label for="memory"
      >Rate how important memory is to you on a scale of 1 - 10</label
    >
    <select name="memory" formControlName="memory">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
      <option value="1">6</option>
      <option value="1">7</option>
      <option value="1">8</option>
      <option value="1">9</option>
      <option value="1">10</option>
    </select>
  </div>
  <div id="submitQuestionnaire">
    <button class="btn btn-success btn-lg btn-block" type="submit">
      Create
    </button>
  </div>
</form>
