<div class="container">
  <div class="row">
    <div class="col">
      <h1>Questionnaire</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
        <div id="question1" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="depression" class="mr-1"
                >Rate your depression on a scale of 1 - 10</label
              >
              <select name="depression" formControlName="depression">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>

        <div id="question2" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="anxiety" class="mr-1"
                >Rate your anxiety on a scale of 1 - 10</label
              >
              <select name="anxiety" formControlName="anxiety">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question3" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="sleep" class="mr-1"
                >Rate your sleep on a scale of 1 - 10</label
              >
              <select name="sleep" formControlName="sleep">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question4" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="productivity" class="mr-1"
                >Rate your productivity on a scale of 1 - 10</label
              >
              <select name="productivity" formControlName="productivity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question5" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="heartHealth" class="mr-1"
                >Rate your heart health on a scale of 1 - 10</label
              >
              <select name="heartHealth" formControlName="heartHealth">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question6" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="immuneSystem" class="mr-1"
                >Rate your immune system on a scale of 1 - 10</label
              >
              <select name="immuneSystem" formControlName="immuneSystem">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question6" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="exercise" class="mr-1"
                >Rate how important exercise is to you on a scale of 1 -
                10</label
              >
              <select name="exercise" formControlName="exercise">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div id="question7" class="row d-flex my-2">
          <div class="justify-content-center">
            <div class="col">
              <label for="memory" class="mr-1"
                >Rate how important memory is to you on a scale of 1 - 10</label
              >
              <select name="memory" formControlName="memory">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div id="submitQuestionnaire">
              <button class="btn btn-success btn-lg btn-block" type="submit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
