<div class="container justify-content-center">
  <div class="row mt-5 mb-2">
    <div class="col-sm text-center" id="hometitle">
      <h1>WELCOME</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <img src="../../assets/images/corduceus.png" width="50px" height="50px" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>
        This webpage is dedicated to supplements.
      </h3>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <p>
        Supplements come in a variety of forms and provide an array of different
        benefits. My hope is to inform everyone that many supplements may not
        only be completely safe to consume, but also may provide a health
        benefit that could be very difficult to find otherwise.
      </p>
      <p>
        The video below concerns L-Tyrosine, my favorite supplement. It has
        helped me enormously, and I believe that it could help so many others.
        Check the video out and see for yourself.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="embed-responsive embed-responsive-21by9 video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/brAA6O_v7os"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col text-center">
      <h4>
        Whether or not you have yet been convinced of the possible benefits of
        taking supplements, take our questionnaire! It will display which
        supplements would most likely assist you.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <button
        type="button"
        routerLink="/setup"
        class="btn btn-primary btn-lg"
        id="beginplanbutton"
      >
        Questionnaire
      </button>
    </div>
  </div>
</div>
