<div class="container">
  <div class="row d-flex my-4">
    <div class="justify-content-between align-self-center w-100">
      <header class="col-md-6 col-xs-4">
        <h1>Nervous System</h1>
      </header>
      <div class="col-md-3 col-xs-1"></div>
      <div class="col-md-6 col-xs-2">
        <div class="d-flex justify-contend-end">
          <img
            src="../../assets/images/brain.jpg"
            width="180px"
            height="150px"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Dopaminergic System</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h4>A group of nerve cells, most of which originate in the midbrain.</h4>
      <h6>
        They send their axons to different parts of the forebrain, plugging into
        particular functions. There are three main branches of the dopamine
        system:
      </h6>
      <ul>
        <li>
          One goes all the way to the frontal cortex, modulating cognitive
          function and enhances the efficiency of certain forms of thinking and
          working memory.
        </li>
        <li>
          One goes to the striatum, involved in facilitating movements. Without
          dopamine, your movements become rigid and reduced in number and
          amplitude.
        </li>
        <li>
          One goes to structures in the limbic system (emotional center of the
          brain), including the nucleus accumbens (reward center). More dopamine
          induces a greater effect from the reward system.
        </li>
      </ul>
      <h6>
        With this being said, dopamine is important for thinking optimally,
        moving optimally, and motivating yourself. With the latter, you can
        tailor what the reward the dopamine is inciting by associating its onset
        with a particular action or thought.
      </h6>
      <p>
        L-Dopa is dopamine's precursor.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Serotonergic System</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h4>
        Originating in the midbrain, this system seems to be very involved in
        inhibition, meaning that without it, the brain is inhibited.
      </h4>
      <h6>
        Little is known about the precise functions of serotonin. However, it is
        known that without enough or with too much of it, the brain is not
        healthy, and one would most likely be diagnosed with a particular mental
        disorder.
      </h6>
      <h6>
        Serotonin is known as being responsible for overall feelings of
        happiness and meaning.
      </h6>
      <p>
        5-HTP is serotonin's precursor.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Noradrenergic System</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h4>
        Involves norepinephrine (noradrenaline) and epinephrine (adrenaline).
      </h4>
      <h6>
        Originates in brain stem structures such as the locus ceruleus, as well
        as the medulla. There are two main branches:
      </h6>
      <ul>
        <li>
          One is called the dorsal ascending system, which projects all over the
          forebrain, including the neocortex and the hippocampus. It does not go
          to the striatum, however.
        </li>
        <li>
          The other is the ventral bundle, which mainly projects to the
          hypothalamus and to other visceral parts of the brain including the
          limbic system.
        </li>
      </ul>
      <h6>
        Overall, this system is involved in arousal. It is least active when
        you’re asleep, and most active when you are thinking or moving
        intensely. The experience of novelty makes this system work very fast.
        Too much novelty can cause this system to act out of balance, causing
        undue anxiety.
      </h6>
      <p>
        Dopamine is a precursor to norepinephrine.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Glutamate System</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h4>
        One of the major amino acid systems (GABA being the other one), the
        glutamate system is a fast signaling system crucial for information
        processing in neuronal networks of the neocortex and the hippocampus in
        particular.
      </h4>
      <h6>
        It is very involved in the process of long-term potentiation, which is a
        neuronal model of memory. There are three major types of glutamate
        receptors:
      </h6>
      <ul>
        <li>
          AMPA receptor
        </li>
        <li>
          NMDA receptor
        </li>
        <li>
          Kainate receptor
        </li>
      </ul>
      <h6>
        Some people think that we will discover memory-enhancing drugs by using
        agents that work at these receptors, such as ampakines.
      </h6>
      <p>
        Glutamine is glutamate's precursor.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Cholinergic System</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h4>
        Comprised of cholinergic cells, which accumulate and release
        acetylcholine.
      </h4>
      <h6>
        They are involved in a particular form of arousal, called vigilance.
        Acetylcholine is a neurotransmitter that, when released, sends signals
        to other cells (such as neurons, muscle cells, and gland cells). It can
        be thought of as a messenger neurotransmitter. It exists in two main
        branches:
      </h6>
      <ul>
        <li>
          One branch projects to the neocortex
        </li>
        <li>
          One branch projects to the hippocampus
        </li>
      </ul>
      <h6>
        They are greatly involved in enhancing signal to noise ratios, enabling
        you to detect targets with great fidelity. They also contribute to
        memory-encoding processes and working-memory processes by enhancing the
        power of the signal going to these processes.
      </h6>
      <p>
        Choline or L-Acetylcholine is Acetylcholine’s precursor.
      </p>
    </div>
  </div>
</div>
