<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Supplements</h1>
    </div>
  </div>
  <div class="row mt-2">
    <!-- No data message -->
    <p *ngIf="Supplement.length <= 0" class="no-data text-center">
      There is no Supplement added yet!
    </p>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="Supplement.length > 0">
        <thead class="table-success">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supp of Supplement; let i = index">
            <th>
              <a href="" [routerLink]="['/supplements/', supp._id]">{{
                supp.name
              }}</a>
            </th>
            <td>{{ supp.category }}</td>
            <td class="text-center edit-block">
              <span class="delete" (click)="removeSupplement(supp, i)">
                <button type="button" class="btn btn-danger btn-sm">
                  Delete
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">
        Add a Supplement
      </h2>
    </div>
  </div>
  <div class="row justify-content-center my-2">
    <!-- form card register -->
    <form [formGroup]="supplementForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-18 col-sm-12 col-md-4 px-2">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" formControlName="name" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.name.errors?.required"
            >
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputDescription">Description</label>
            <input
              class="form-control"
              type="text"
              formControlName="description"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.description.errors?.required"
            >
              Enter your decription.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.description.errors?.pattern"
            >
              Enter valid decription.
            </div>
          </div>

          <div class="form-group">
            <label for="inputCategory">Category</label>
            <select
              class="custom-select form-control"
              formControlName="category"
              (change)="updateSupplementCategory($event.target.value)"
            >
              <option value="">Choose...</option>
              <option
                *ngFor="let suppCat of SupplementCategory"
                value="{{ suppCat }}"
                >{{ suppCat }}
              </option>
            </select>
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.category.errors?.required"
            >
              Choose category.
            </div>
          </div>

          <div class="form-group">
            <label for="purchaseUrl">Purchase Website</label>
            <input
              class="form-control"
              type="text"
              formControlName="purchaseUrl"
            />
            <!-- error -->
          </div>
        </div>
        <div class="col-xs-18 col-sm-12 col-md-4 px-2">
          <div class="form-group">
            <label for="depression">Depression Reduction</label>
            <select
              class="form-control"
              name="depression"
              formControlName="depression"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="anxiety">Anxiety Reduction</label>
            <select
              class="form-control"
              name="anxiety"
              formControlName="anxiety"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sleep">Sleep Assistance</label>
            <select class="form-control" name="sleep" formControlName="sleep">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="productivity">Productivity</label>
            <select
              class="form-control"
              name="productivity"
              formControlName="productivity"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="col-xs-18 col-sm-12 col-md-4 px-2">
          <div class="form-group">
            <label for="heartHealth">Heart Health Support</label>
            <select
              class="form-control"
              name="heartHealth"
              formControlName="heartHealth"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="immuneSystem">Immune System</label>
            <select
              class="form-control"
              name="immuneSystem"
              formControlName="immuneSystem"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exercise">Exercise Enhancement</label>
            <select
              class="form-control"
              name="exercise"
              formControlName="exercise"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="memory">Memory Enhancement</label>
            <select class="form-control" name="memory" formControlName="memory">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit">
          Create
        </button>
      </div>
    </form>
    <!-- form card register -->
  </div>

  <!-- Supplement list -->
</div>
